#home a img {
  width: 4em;
}
.arc-list {
  padding: 0;
}
ul {
  list-style: none;
}
.page-header {
  padding: 0rem;
  font-size: 2em;

  padding-top: 0.5em;
  padding-bottom: 0.3em;

  background: url(/img/bg.jpg) no-repeat;
  background-size: 100% 100%;
  color: yellow;
  text-shadow: 0px 0px 10px black;
  background-color: red;
}
li {
  background-color: #fff;
  border: solid 1px #e1e6eb;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 4em;
}
#home a {
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  background: #fff;
}
a {
  color: #000;
}
.main-content {
  max-width: none;
  padding: 0rem;
  margin: 0 auto;
  margin-top: 7em;
}

.main-content img {
  width: 100%;
}
