#home a img {
  width: 4em;
}
.arc-list{
	    padding: 0;
}
ul {
  list-style: none;
}
.page-header {
  padding: 0rem;
}
li{
  background-color: #FFF;
  border: solid 1px #E1E6EB;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 4em;
}
#home a {
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  
}
a {
  color: #000;
}
.main-content {
  max-width: none;
  padding: 0rem;
  margin: 0 auto;
}

.main-content img {
  width: 100%;
}
