#home a img{
	width: 4em;
}
#home a{
	text-align: center;
    width: 5em;
        font-size: 0.8em;
    display: inline-block;
    color: #000;
}
.main-content {max-width: none;padding: 2rem 0rem;margin: 0 auto;font-size: 1.1rem;} 

#home{
	text-align: center;
}
.main-content img{
    width: 100%;
}