---
layout: default
title: {{ site.name }}
---

<div id="home">
{% for category in site.categories %}
<a href='/categorys.html#{{ category | first }}'>{{ category | first }}</a>
<!--     {% for post in category.last %}
        <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.url | last}}{{ post.title }}</a></li>
    {% endfor %} -->
{% endfor %}
</div><br>
<ul class="arc-list">
    {% for post in site.posts %}
        <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.url | last}}{{ post.title }}</a></li>
    {% endfor %}
</ul>
<script type="text/javascript">
	
var category={"dsjs":["党史军史"],"fdsk":["辅导授课"],"thgw":["体会感悟"],"tjll":["图解理论"],
"wzts":["文章推送"],"xzdt":["小组动态"],"zyls":["重要论述"],"zxdt":["主席动态"]};
var i=0;
[].forEach.call(document.getElementsByTagName('a'),function(e){
	if(category[e.innerText]){
		e.innerHTML="<img src='/"+category[e.innerText]+".jpg' /><br>"+category[e.innerText]
		i++
		if (i==4)
			e.parentElement.innerHTML+="<br>"
	}
});

</script>