<section class="page-header">
  <br />
  <br />
  <h2 style="font-size: 1rem;" class="project-tagline">
    恪守忠诚，血性担当<br />敢为人先，勇于创新
  </h2>
</section>
<div style="width: 100%;overflow-x: scroll;">
  <div style="width: 600px;">
    <script type="text/javascript">
      var category = {
        dsjs: ["党史军史"],
        fdsk: ["辅导授课"],
        thgw: ["体会感悟"],
        ptbb: ["排头兵报"],
        wzts: ["文章推送"],
        xzdt: ["小组动态"],
        zyls: ["重要论述"],
        zxdt: ["主席动态"]
      };
      for (i in category) {
        document.write(
          "<a href='/categorys.html#" + i + "'>" + category[i] + "</a>"
        );
      }
    </script>
  </div>
</div>
<br />
